/* .vitepress/theme/style/var.css */

/* var.css */
:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #1E88E5,#9C27B0, #FDD835);
  --vp-custom-block-tip-bg: var(#1E88E5); /*提示框背景颜色*/
}

/* h1 {
  background: -webkit-linear-gradient(-45deg, #e43498 5%, #5ad7dd 15%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */

/* .vitepress\theme\style\var.css */
/* 引用块 */
.vp-doc blockquote {
    border-radius: 5px;
    padding: 10px 16px;
    background-color: #1e88e511;
    position: relative;
    border-left: 4px solid #1e88e58d;
  }

/* 提示框 */
.custom-block.tip {
  border-color: var(--vp-c-green-2);
}

/* 警告框 */
.custom-block.warning {
  /* border-color: #d97706; */
  border-color: var(--vp-c-yellow-2);
}

/* 危险框 */
.custom-block.danger {
  /* border-color: #f43f5e; */
  border-color: var(--vp-c-red-2);
}

/* 图片缩放样式 */
.medium-zoom-overlay {
  z-index: 20;
}

.medium-zoom-image {
  z-index: 9999 !important;/* 给的值是21，但是实测盖不住，直接999 */
}